.inputstyle {
    border: none;
    border-bottom: 2px solid rgb(113, 113, 113);
    border-radius: 0;
    outline: none;
    background-color: transparent;
}

.inputstyle::-moz-focus-outer {
    outline: none;
}

.requiredmsg {
    color: rgb(255, 111, 0);
    visibility: hidden;
}

.Main {
    content: '';
    background-image: url('D:/productengineering/myapp/src/images/75-752261_get-in-touch-indian-farmer-clipart_prev_ui.png');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    /* background-o: ; */
    /* opacity: 0.2; */
    position: absolute;
    background-size: contain;
    top: 58px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    background-color: #ecfee8;
}
/* .Main{
    z-index: 2;
} */
.Sub{
    background-color: transparent !important;
    /* display: none; */
}

.alert {
    z-index: 2 !important;
    position: absolute !important;
    width: 90vw;
    left: 5vw;
    visibility: hidden;
    /* margin-top: ; */
}
.mainsection{
    /* overflow-x: auto; */
    overflow-x: scroll;
    /* width: 100%; */
    /* height: 58vh; */
}